<html>
    <head>
        <script>
            function send(){
                var email=document.getElementById("username").value;
                var input_json={
                    'username':email
                };
                var xhttp=new XMLHttpRequest();
                xhttp.onreadystatechange=function(){
                    if(this.readyState==4 && this.status==200)
                    {
                        console.log("email sent");
                    }
                };
                xhttp.open("POST","/send",true);
                xhttp.setRequestHeader("Content-Type","application/json");
                xhttp.send(JSON.stringify(input_json));
            }
        </script>
    </head>
    <body>
        <input type="text" id="username" name="username">
        <button type="button" onclick="send()">SEND</button>
    </body>
</html>