<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script>
        </script>

    </head>
    <body>
        <div class="jumbotron">
            <h1 class="display-4">Sorry</h1>
            <p class="lead" id="common">Your slot couldn't be booked</p>
            <p class="lead" id="date">Try Again.</p>
            <p id="extra"></p>
            <h2 class="display-5">Thank You</h2>
            <hr class="my-4">
          </div>
    </body>
</html>